a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.divConsultas{
    width: 20vw;
    height: 6vh;
    display:flex;
    justify-items:center;
    align-items: center;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.navbar{
    border-bottom: 1px solid purple;
}
.pesquisa {
    border: 1px solid gray;
    border-radius: 3px 0px 0px 3px;
    width: 13vw;
    height: 4vh;
}

.logo {
    text-decoration: none;
    font: normal 18pt verdana;
    background-image: linear-gradient(to right, purple, #dcb8ff, #2e48f6);
    color:transparent;
    -webkit-background-clip: text;
}

.logo:hover{
    text-decoration: none;
}

.btnBuscas {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid purple;
    background-color: transparent;
    transition: all .3s ease-in-out;
    color: purple;
    height: 4vh;
}

.btnBuscas:hover {
    background-color: purple;
    color: white;
}

.perfil {
    width: 7vw;
    height: 13vh;
    border-radius: 50%;
}

.form-control {
    background-color: purple;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
